<div class="exchange-success-container">
    <div class="page">
        <div class="page__bd" style="height: 100%;">
            <div class="weui-tab first">
                <div class="weui-navbar">
                    <div class="weui-navbar__item">
                        <a class="" ng-click="es.goBack()">
                            <img ng-if="theme!='black'" src="./assets/images/VK/fanhui.png" width="12px">
                            <img ng-if="theme=='black'" src="./assets/images/black/fanhui.png" width="9px">
                        </a>
                        <span>兑换成功</span>
                    </div>
                </div>
                <div class="weui-tab__panel">
                    <div class="content">
                        <div class="icon"></div>
                        <div class="text">亲！购买成功。</div>
                        <div>
                            <button ng-click="es.goConversionRecord()">查看购买记录</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
