<div class="login-container">
    <div class="weui-top-bar">
        <div class="weui-cells" style="width: 100%;margin-top: 0px">
            <div class="header">
                <div class="left_icon">
                </div>
                <div class="label" style="">会员登录</div>
                <div class="right_icon" style="">
                    <!--<a class="weui-vcode-btn weui-btn_danger" ng-click="mrc.pay()" style="color:black">支付</a>-->
                </div>
            </div>
        </div>
    </div>


    <div class="page" style="top:54px">
        <div class="page__bd" style="height: 100%;">
            <div class="weui-tab__panel">


                <div class="weui-panel">
                    <div class="weui-panel__bd1">
                        <div class="weui-cells weui-cells_form">

                            <div class="weui-cell">
                                <div class="weui-cell__hd"><label class="weui-label">账号</label></div>
                                <div class="weui-cell__bd">
                                    <input class="weui-input" type="text" ng-model="lv.mobile" placeholder="请输入账号"/>
                                </div>
                            </div>
                            <div class="weui-cell" style="border-bottom:1px solid #f2f2f2">
                                <div class="weui-cell__hd"><label class="weui-label">密码</label></div>
                                <div class="weui-cell__bd pwd">
                                    <input class="weui-input" type="password" ng-model="lv.pwd" placeholder="请输入密码"/>
                                    <a ng-click="lv.forgetPwd()">忘记密码?</a>
                                </div>
                            </div>
                            <!--<div ng-show=lv.show class="weui-cell weui-cell_vcode weui-cell-sm" style="height: 40px;">-->
                                <!--<div class="weui-cell__hd"><label class="weui-label">手机号<span-->
                                    <!--class="my_start">*</span></label></div>-->
                                <!--<div class="weui-cell__bd">-->
                                    <!--<input class="weui-input" type="text" pattern="[0-9]*" ng-model="lv.otherMobile"-->
                                           <!--placeholder="请输入手机号"/>-->
                                <!--</div>-->
                                <!--<div class="weui-cell__ft">-->
                                    <!--<a class="weui-btn weui-btn_danger vcode" ng-class="lv.vcodeCss" ng-bind="lv.vcodeStr"-->
                                       <!--ng-click="lv.getVcode()" style="font-size: 12px;margin-right: 10px;">获取验证码</a>-->
                                <!--</div>-->
                            <!--</div>-->
                            <!--<div class="weui-cell" ng-show=lv.show >-->
                                <!--<div class="weui-cell__hd"><label class="weui-label">验证码<span-->
                                    <!--class="my_start">*</span></label></div>-->
                                <!--<div class="weui-cell__bd pwd">-->
                                    <!--<input class="weui-input" type="text" ng-model="lv.vcode" placeholder="请输入验证码"/>-->
                                <!--</div>-->
                            <!--</div>-->
                        </div>
                    </div>

                </div>
                <div class="weui-panel login-btn" style="">
                    <a class="weui-btn weui-btn_danger bottom-button" ng-click="lv.login()">登录</a>
                </div>
                <div class="dest"  ng-show="lv.showRes">
                    <span style="color:#9c9b9b">没有账号，</span>
                    <a ng-click="lv.goRegister()" style="color: black">立即注册</a>
                </div>
                <div class="notice" >

                    <a ng-click="lv.gobuy()" style="color: black">会员说明</a>
                </div>
            </div>

        </div>
    </div>
</div>
<div id="loadingToast" ng-if="lv.msg.warning">
    <div class="weui-mask_transparent"></div>
    <div class="weui-toast">
        <p class="weui-toast__content">{{lv.msg.message}}</p>
    </div>
</div>
