$body-bg-gray: #f2f2f2;
$white-bg: #ffffff;
$white-bg-1: #feffff;

$font-color: #000000;
$font-color-2: #9c9b9b;
$font-color-3: #eb4a16;
$font-color-4: #fbd70e;
$font-white: #ffffff;
$font-black: #000000;
$font-grey: #9c9b9b;

$red-bg: red;
$red-bg-2: #EB6100;
$blue-bg: #008AEB;
$top-bar-bg: #f7f7fa;
$black-bg: #000000;

$danger-bg: #f5d133;
$danger-bg-2: #fef9dc;
$danger-bg-3: #face23;
$danger-bg-4: #fbd70e;
$danger-bg-5: #fad534;

$grey-bg: #C9C9C9;
$grey-bg-2: #878484;
$grey-bg-3: #ece9e9;
$grey-bg-4: #C8C8CD;
$grey-bg-5: #9c9ca0;
$grey-bg-6: #f5f5f5;
$grey-bg-7: #c6c6c6;
$grey-line: #ece9e9;

$grey-color: #a0a0a0;
$grey-border: #D9D9D9;

$border-color: #cccccc;
$border-color-2: #D9D9D9;
$border-color-3: #eeeeee;

$my-grey: #535353;
