<div class="my-feedback-container">
    <div class="weui-top-bar">
        <div class="weui-cells" style="width: 100%;margin-top: 0px">
            <div class="header">
                <div class="left_icon" style="top:15px">
                    <a ng-click="mfbc.goBack()">
                        <img src="./assets/images/black/fanhui.png" width="9px">
                    </a>
                </div>
                <div class="label" style="">意见反馈</div>
                <!--<div class="right_icon" ng-if="theme!='black'">-->
                    <!--<a class="weui-vcode-btn weui-btn_danger" ng-click="mfbc.onSubmit()" style="color:black">提交</a>-->
                <!--</div>-->
            </div>

        </div>
    </div>

    <div class="page">
        <div class="page__bd" style="height: 100%;">
            <div class="weui-tab__panel">
                <div class="img">
                    <img src="./assets/images/heytea/feedback_pic.png"/>
                </div>
                <div class="weui-panel">
                    <div class="weui-cell" style="border: 1px dotted #333333; margin: 0 5%;">
                        <div class="weui-cell__bd">
                            <textarea style="height: 100px" class="weui-textarea" ng-change="mfbc.onTextChange()"
                                      ng-model="mfbc.feedback"
                                      placeholder="输入反馈内容,不超过{{mfbc.memoMaxInput}}个字" rows="3"></textarea>
                            <div class="weui-textarea-counter"><span>{{mfbc.memoInputCount}}</span>/{{mfbc.memoMaxInput}}
                            </div>
                        </div>
                    </div>
                </div>
                <div class="weui-panel jianjiao">
                    <!--<div class="left-slash"></div>-->
                    <!--<div class="right-slash"></div>-->
                    <img src="./assets/images/heytea/feedback_jianjiao.png">
                </div>
                <div class="weui-panel login-btn">
                    <a class="weui-btn" ng-click="mfbc.submit()" ng-disabled="!mfbc.feedback" style="right: 5%; position: fixed;">确认</a>
                </div>
            </div>
        </div>
    </div>


    <div id="toast" ng-show="mfbc.showToast">
        <div class="weui-mask_transparent"></div>
        <div class="weui-toast">
            <i class="weui-icon-success-no-circle weui-icon_toast"></i>
            <p class="weui-toast__content">{{mfbc.toastMsg}}</p>
        </div>
    </div>
</div>
