<div class="my-pay-code-container">
    <div class="weui-top-bar">
        <div class="weui-cells" style="width: 100%;margin-top: 0px">
            <div class="header">
                <div class="left_icon" style="top:15px">
                    <a ng-click="mpcc.goBack()">
                        <img src="./assets/images/black/fanhui.png" width="9px">
                    </a>
                </div>
                <div class="label" style="">付款码</div>
                <!--<div class="right_icon">-->
                    <!--<a ng-click="mpcc.refresh()">-->
                        <!--<img ng-if="theme!='black'" width="20px" style="padding-top: 14px;padding-right: 10px;"-->
                             <!--src="./assets/images/VK/shuaixin@2x.png">-->
                        <!--<img ng-if="theme=='black'" width="20px" style="padding-top: 14px;padding-right: 10px;"-->
                             <!--src="./assets/images/black/shuaixin@2x.png">-->
                    <!--</a>-->
                <!--</div>-->
            </div>
        </div>
    </div>

    <div class="page">
        <div class="page__bd" style="height: 100%;">
            <div class="weui-tab__panel">
                <article class="weui-article" style="">
                    <section>
                        <!--<section class="barcode" style="border: 0;background-color: white;margin-bottom: 0">&nbsp;-->
                        <!--</section>-->
                        <section class="barcode qr-code">
                            <qrcode version="3" error-correction-level="L" size="170"
                                    data="{{mpcc.qrcode}}"></qrcode>
                        </section>
                        <!--<section class="barcode">-->
                        </section>
                        <section style="margin-top: 0;margin-bottom: 0">
                            <div class="barcode heytea-bar-code">
                                <p><img id="barcode"/></p>
                                <p><a ng-click="mpcc.refresh()">
                                    <img style="height:15px; width: 15px;vertical-align: text-bottom;"
                                         src="./assets/images/heytea/refresh.png"> <span>更新会员码</span>
                                </a></p>
                            </div>



                        </section>
                        <section style="margin-top: 0;margin-bottom: 0">
                            <div class="barcode"
                                 style="border: 0;margin-top: 0;color: #a0a0a0;font-size: 14px">
                                会员码每三分钟自动刷新一次
                            </div>
                        </section>
                    </section>
                </article>
            </div>
        </div>
    </div>
</div>
